<h1 style="height:10%; color:blueviolet; text-align: center;">DATOS PARA EL BOLETO.</h1>
<br>
<h2 style="background-color:black; color:red; text-align:center;">Nombre:</h2>
<div style="text-align: left;color:rgb(68, 67, 67);">Ingrese su nombre.</div>
<br>
<h2 style="background-color:black; color:red; text-align:center;">Apellido:</h2>
<div style="text-align: left;color:rgb(68, 67, 67);">Ingrese su apellido.</div>
<br>
<h2 style="background-color:black; color:red; text-align:center;">Direccion:</h2>
<div style="text-align: left;color:rgb(68, 67, 67);">Ingrese la direccion de su hogar.</div>
<br>
<h2 style="background-color:black; color:red; text-align:center;">Celular:</h2>
<div style="text-align: left;color:rgb(68, 67, 67);">Ingrese su numero de celular.</div>
<br>
<h2 style="background-color:black; color:red; text-align:center;">Edad:</h2>
<div style="text-align: left;color:rgb(68, 67, 67);">Ingrese su edad.</div>
<br>
<br>
<br>
<p style="text-align:center ;">
<button (click)="Navegacion2()" style="background-color:aquamarine; color: blue; margin-bottom: 2px; box-shadow: 2px; box-shadow: snow; height: 30px;">GUARDAR.</button>
</p>